body {
  font-family: "SF Pro Display", sans-serif;
}

header {
  display: flex;
  background-color: #879ae1;
  justify-content: space-between;
  color: #fafafa;
  padding: 30px 80px;
}

button {
  outline: none;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-cart {
  background-color: #fafafa;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #2f2a2d;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}

.btn-cart, .logo {
  align-self: center;
}

.products {
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: 1fr;
  padding: 40px 80px;
  justify-content: space-between;
}

p {
  margin: 0 0 5px 0;
}

.good-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

img {
  width: 200px;
  height: 100px;
  background-color: #d5d5d5;
}

.desc {
  border: 1px solid rgba(192, 192, 192, 0.2509803922);
  padding: 15px;
}

.buy-btn {
  margin-top: 5px;
  background-color: #879ae1;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: transparent;
  border-color: #2f2a2d;
  color: #2f2a2d;
}

.cart {
  position: relative;
}

.drop {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 20px;
  position: absolute;
  top: 50px;
  z-index: 1;
}
.drop__cart {
  text-align: left;
  z-index: 3;
  padding: 10px !important;
  top: 44px;
  left: -140px;
}
.drop__cart__button1, .drop__cart__button2 {
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.drop__cart__button1 {
  color: #879ae1;
  border: 1px solid #879ae1;
  margin-bottom: 10px;
  margin-top: 20px;
}
.drop__cart__button2 {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  margin-bottom: 10px;
}
.drop__cart__price {
  display: flex;
  justify-content: space-between;
}
.drop__cart__price h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.drop__cart__flex {
  width: 262px;
}
.drop__cart:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  right: 15px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.drop__cart__items {
  display: flex;
  justify-content: space-between;
}
.drop__cart__items__info {
  display: flex;
}
.drop__cart__items__info__text {
  margin-left: 15px;
}
.drop__cart__items__info__text h3:hover {
  color: #879ae1;
}
.drop__cart__items__info__text a {
  text-decoration: none;
}
.drop__cart__items__info__text h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 8px;
}
.drop__cart__items__info__text p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #879ae1;
  margin-top: 8px;
}

.display__none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
